<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body>
    {{>navbar}}
      <div class= "containter-fluid main_header">
    <div class="row">
        <div class= "col-md-10 col-12 mx-auto">
            <div class="row" style="display: flex ; flex-wrap: nowrap; " >

               <div class="col-md-6 col-12 main_header_right" style="align-content:center justify-content:center">
             <figure >
                <img src="img/img404.jpg" alt="mahendra" width="70%" style="margin: 100 0 10px;">
             </figure>
             </div><!-- left -->
               <div class=" col-md-6 col-12 main_header">

                <h1>Oops! page not find please go back </h1>
                <div class="btn">
                <a href="/"><button>Go back to Home page </button></a>
                </div>
               </div>
           <!-- right -->
            
          </div>
        </div>
      </div>
    </div>
    {{>footer}}
</body>
</html>