<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerLinks}}
</head>
<body>
    {{>navbar}}

    </div>
  <!-- main header -->
  <div class= "containter-fluid main_header">
    <div class="row">
        <div class= "col-md-10 col-12 mx-auto">
            <div class="row" style="display: flex ; flex-wrap: nowrap; " >

               <div class="col-md-6 col-12 main_header_right" style="align-content:center">
             <figure>
                <img src="img/shaby.jpg" alt="mahendra" width="70%" style="margin: 100 0 10px;">
             </figure>
             </div><!-- left -->
               <div class=" col-md-6 col-12 main_header">

                <h1>I am <span class="text_clr1">Full Stack Deveploper</span> and competitive programmer </h1>
                <div class="btn">
                <a href="https://www.instagram.com/mahendra_singh2001/"><button>About me </button></a>
                </div>
               </div>
           <!-- right -->
            
          </div>
        </div>
      </div>
    </div>

    <footer>
      <p>created by mahendra singh</p>
    </footer>
</body>
</html>