<!DOCTYPE html>
<html lang="en">
<head>
{{>headerLinks}}
{{!-- <script src="/public/js/main.js"></script> --}}
</head>
<body>
    {{>navbar}}
  <!-- main header -->
  <div class= "containter-fluid main_header">
    <div class="row">
        <div class= "col-md-10 col-12 mx-auto">
           <div class="main_content">
            <form class="temp_form">
              <input type="text" id="cityName" placeholder="Enter your CityName" autocomplete="off">
               <input type="submit" value="Search" id="submitBtn" >
            </form>
           </div>
           <div class="tempInformation">
            <div class="top_layer">
              <p id="day">Tuesday</p>
              <p id="today_date"> 13 OCT</p>
            </div>
             <div class="main_layer">
              <p id="city_name"> Get Output Here</p>
              <div class="middle_layer data_hide" id="hide1">
                <p id="temp"><span>0</span><sup>o</sup>C</p>
                <p id ="temp_status"><i class="fas fa-cloud" aria-hidden="true" ></i></p>
              </div>
             </div>
           </div>
        </div>
      </div>
    </div>

  {{>footer}}
  <script>
  const submitBtn=document.getElementById('submitBtn');
  const cityName=document.getElementById('cityName');
  const city_name=document.getElementById('city_name');
  const temp =document.getElementById('temp');
  const temp_status=document.getElementById('temp_status');
  const currDate =document.getElementById('today_date');
  const tday = document.getElementById('day');
    var weekday= new Array(7);
            weekday[0]="sun";
            weekday[1]="mon";
            weekday[2]="tue";
            weekday[3]="wed";
            weekday[4]="thu";
            weekday[5]="fri";
            weekday[6]="sat";

             var months =new Array(12);
               months[0]="Jan";
               months[1]="Feb";
               months[2]="Mar";
               months[3]="Apr";
               months[4]="May";
               months[5]="Jun";
               months[6]="Jul";
               months[7]="Aug";
               months[8]="Sep";
               months[9]="Oct";
               months[10]="Nov";
               months[11]="dec";
   let now= new Date();
   let day=now.getDay();
    const getCurrentDay =()=>{
                let currentTime= new Date();
                return `${weekday[currentTime.getDay()]}`;
            };
      tday.innerHTML=getCurrentDay();
     const getCurrentTime= ()=>{
            let date = now.getDate();
            return ` ${date} | ${months[now.getMonth()]} `;
          }

       currDate.innerHTML=getCurrentTime();
  const getInfo=async(event)=>{
         event.preventDefault();
    let cityVal=cityName.value;
    if(cityVal==""){
     city_name.innerText=`please write the name before search`;
    }else{
        try{
        let url= `https://api.openweathermap.org/data/2.5/weather?q=${cityVal}&units=metric&appid=c2da22f7e0feefd96ba4d5d7466afd89`;
       const response= await fetch(url);
       const data= await response.json();
       
         const arrdata= [data];
         console.log(data);

       temp.innerHTML=arrdata[0].main.temp;
       const tempmood=arrdata[0].weather[0].main;
       city_name.innerHTML = `${arrdata[0].name} ${arrdata[0].sys.country}`;
       document.getElementById('hide1').style.visibility='visible';
             
          if(tempmood=="Clouds"){
            temp_status.innerHTML="<i class='fas fa-cloud'style='color:#f1f2f6' ></i>";
          }
          else if(tempmood=="Clear")
          {
              temp_status.innerHTML="<i class='fas fa-sun' style='color:#eccc68'></i>";
          }
          else if(tempmood=="Rain"){
             temp_status.innerHTML="<i class='fas fa-cloud-rain 'style='color:#a4b0be'></i>";
          }
          else{
             temp_status.innerHTML="<i class='fas fa-sun'style='color:orange'></i>";
          }
            
        }
        catch{
            city_name.innerText=`please write the valid name of city`;
        }
    }

}
submitBtn.addEventListener('click',getInfo);
     
  </script>

</body>
</html>